<h1>New Owner</h1>

<%= simple_form_for @owner do |f| %>
  <% if @owner.errors.any? %>
    <p>Error(s) detected; listing not created.</p>
  <% end %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :company_name %>
  <%= f.button :submit %>
<% end %>
